/* Seletor por elemento */
body {
    background-color: rgb(252, 245, 185);
    font-family: Arial, sans-serif;
}

/* Seletor por ID */
#Nome {
    font-weight: bold;
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
    color: black;
    background-color: rgb(255, 217, 0);
}

/* Seletor por ID */
#ftperfil {
    text-align: center;
}

/* Seletor por elemento */
h2 {
    background-color: rgb(255, 217, 0);
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Seletor por classe */
.curso, .cargo {
    font-weight: bold;
    font-style: italic;
}

/* Seletor por atributo */
a[target="_blank"] {
    color: darkblue;
    text-decoration: none;
}

/* Pseudo-classe */
a:hover {
    color: red;
    text-decoration: underline overline;
    font-style: oblique;
}

/* Decoração extra para rodapé */
footer p {
    text-decoration: underline;
    text-align: center;
    color: gray;
}
